- page_title @application.name, "应用"
%h3.page-title
  应用: #{@application.name}

.table-holder.oauth-application-show
  %table.table
    %tr
      %td
        应用 Id
      %td
        %code#application_id= @application.uid
    %tr
      %td
        密匙：
      %td
        %code#secret= @application.secret

    %tr
      %td
        回调链接
      %td
        - @application.redirect_uri.split.each do |uri|
          %div
            %span.monospace= uri

    %tr
      %td
        可信任
      %td
        = @application.trusted? ? '是' : '否'

    = render "shared/tokens/scopes_list", token: @application

.form-actions
  = link_to '编辑', edit_admin_application_path(@application), class: 'btn btn-primary wide float-left'
  = render 'delete_form', application: @application, submit_btn_css: 'btn btn-danger prepend-left-10'
